body {
  counter-reset: game;
}

.title {
  font-family: 'Beau Rivage', cursive;
  color: #A64C2E;
  margin-bottom: 0;
  text-align: center;
}

.total-count {
  font-family: Arial, sans-serif;
  color: #A64C2E;
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.total-count::before {
  content: counter(game);
}

input[type="checkbox"]:checked {
  counter-increment: game;
}

.bunny:has(input[type="checkbox"]:checked) {
  animation-play-state: paused;
}

input[type="checkbox"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
